click==8.1.3
colorama==0.4.6
distlib==0.3.6
filelock==3.8.0
Flask==2.2.2
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.2.0
MarkupSafe==2.1.1
nltk==3.2.4
numpy
platformdirs==2.5.4
preprocessing==0.1.13
scikit-learn==1.0.2
scipy==1.9.3
six==1.16.0
scikit-learn
sphinx-rtd-theme==0.2.4
threadpoolctl==3.1.0
virtualenv==20.16.7
Werkzeug==2.2.2
